<nav class="footer bp-3 bg-lighter pt-4">
    <div class="container px-3 pt-4">
      <div class="row">
        <div class="col-lg-3 pr-lg-4 pb-4">
          <a href="#" class="footer-text d-block text-large font-weight-bolder mb-3"><img src="~/assets/img/logo.png" class="mb-2" alt style="max-width: 75%; max-height: 200px"></a>
          <p>
            Hızlı ticaret 2017 yılında kurulmuş giyim ürünleri satmayı hedefleyen bir e-ticaret sitesidir.
          </p>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-4 col-sm-4 col-md pb-4">
              <div class="footer-text small font-weight-bold mb-3">HAKKIMIZDA</div>
              <a href="/Contact" class="footer-link d-block pb-2">İletişim</a>
            </div>
            <div class="col-4 col-sm-4 col-md pb-4">
              <div class="footer-text small font-weight-bold mb-3">KATEGORİLER</div>
              <a href="#" class="footer-link d-block pb-2">Kadın</a>
              <a href="#" class="footer-link d-block pb-2">Erkek</a>
              <a href="#" class="footer-link d-block pb-2">Çocuk</a>
            </div>
            <div class="col-4 col-sm-4 col-md pb-4">
              <div class="footer-text small font-weight-bold mb-3">HESAP</div>
              <a href="/Account/Login" class="footer-link d-block pb-2">Giriş yap</a>
              <a href="/Account/Register" class="footer-link d-block pb-2">Üye ol</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="m-0">
    <div class="container py-4 px-3">
      <div>© 2018. All rights reserved</div>
    </div>
  </nav>