<nav class="footer bp-3 bg-lighter pt-4">
    <div class="container px-3 pt-4">
      <div class="row">
        <div class="col-lg-3 pr-lg-4 pb-4">
          <a href="#" class="footer-text d-block text-large font-weight-bolder mb-3"><img src="~/assets/img/logo.png" class="mb-2" alt style="max-width: 75%; max-height: 200px"></a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate commodo justo.
          </p>
        </div>

        <div class="col">
          <div class="row">
            <div class="col-4 col-sm-3 col-md pb-4">
              <div class="footer-text small font-weight-bold mb-3">HAKKIMIZDA</div>
              <a href="#" class="footer-link d-block pb-2">About</a>
              <a href="#" class="footer-link d-block pb-2">Our Story</a>
              <a href="#" class="footer-link d-block pb-2">Shipping</a>
              <a href="#" class="footer-link d-block pb-2">Careers</a>
            </div>
            <div class="col-4 col-sm-3 col-md pb-4">
              <div class="footer-text small font-weight-bold mb-3">KATEGORİLER</div>
              <a href="#" class="footer-link d-block pb-2">Women</a>
              <a href="#" class="footer-link d-block pb-2">Man</a>
              <a href="#" class="footer-link d-block pb-2">Electronics</a>
              <a href="#" class="footer-link d-block pb-2">Other</a>
            </div>
            <div class="col-4 col-sm-3 col-md pb-4">
              <div class="footer-text small font-weight-bold mb-3">YARDIM</div>
              <a href="#" class="footer-link d-block pb-2">FAQ</a>
              <a href="#" class="footer-link d-block pb-2">Support</a>
              <a href="#" class="footer-link d-block pb-2">Consultant</a>
            </div>
            <div class="col-4 col-sm-3 col-md pb-4">
              <div class="footer-text small font-weight-bold mb-3">HESAP</div>
              <a href="#" class="footer-link d-block pb-2">Log In</a>
              <a href="#" class="footer-link d-block pb-2">Create Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="m-0">
    <div class="container py-4 px-3">
      <div>© 2018. All rights reserved</div>
    </div>
  </nav>