<!-- Pace.js loader -->
  <div class="page-loader"><div class="bg-primary"></div></div>

  <!-- Top block -->
  <div class="bg-lighter small py-2">
    <div class="container d-flex justify-content-between px-3">
      <div class="text-muted">
        <strong>24/7 Support: </strong>(800) 123-4567</div>
      <div>
        <div class="dropdown d-inline-block">
          <a class="dropdown-toggle text-dark font-weight-semibold" href="#" data-toggle="dropdown">EN</a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">French</a>
            <a class="dropdown-item" href="#">German</a>
          </div>
        </div>
        <div class="dropdown d-inline-block">
          <a class="dropdown-toggle text-dark font-weight-semibold ml-3" href="#" data-toggle="dropdown">USD</a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">USD</a>
            <a class="dropdown-item" href="#">EUR</a>
            <a class="dropdown-item" href="#">USD</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Top block -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-white px-0">
    <div class="container flex-lg-wrap px-3">
      <a href="#" class="navbar-brand text-large font-weight-bolder line-height-1 py-3">Brand</a>

      <div class="navbar-text py-lg-3 pl-3 mr-auto">
        <a href="#"><i class="ion ion-logo-twitter text-twitter align-middle"></i></a>
        <a class="ml-3" href="#"><i class="ion ion-logo-facebook text-facebook align-middle"></i></a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".shop-header">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="shop-header navbar-collapse collapse col-lg-12 flex-wrap order-lg-2 px-0">
        <hr class="d-none d-lg-block w-100 my-2">
        <ul class="navbar-nav">

          <!-- Women categories -->
          <li class="nav-item mega-dropdown">
            <a class="nav-link dropdown-toggle small text-expanded pr-lg-3 pl-lg-0" href="#" data-toggle="mega-dropdown" data-trigger="hover">WOMEN</a>
            <div class="dropdown-menu p-0 mt-2 overflow-hidden">
              <div class="row no-gutters row-bordered">
                <div class="col-12 col-lg-5 p-4">
                  <h6 class="small font-weight-bold text-expanded">CLOTHING</h6>
                  <div class="row">
                    <div class="col">
                      <a href="#" class="mega-link d-block text-dark small mb-2">New In</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Dresses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Party Dresses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Bridesmaid Dresses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Little Black Dresses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Little Red Dresses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Maxi Dresses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Tops</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Coats & Jackets</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Knitwear</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Skirts</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Bodysuits</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Shirts & Blouses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Jumpsuits & Playsuits</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Trousers & Leggings</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Co-ord Sets</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Lingerie</a>
                    </div>
                    <div class="col">
                      <a href="#" class="mega-link d-block text-dark small mb-2">Onesies & Nightwear</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Loungewear</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Swimwear & Beachwear</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Jeans</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Sportswear</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Tracksuits & Sweats</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Suits & Separates</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Shorts</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Denim</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Plus Size & Curve</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Petite</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Tall</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Maternity</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Style Steals</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="row no-gutters row-bordered">
                    <div class="col-6 col-lg-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">SHOES</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">All Shoes</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Boots</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">High Heels</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Over the Knee Boots</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Flats</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Trainers</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Sandals</a>
                    </div>
                    <div class="col-6 col-lg-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">ACCESSORIES</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">All Accessories</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Bags</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Jewellery</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Scarves, Hats & Gloves</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Sunglasses</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Cosmetics</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Hair Accessories</a>
                    </div>
                  </div>
                </div>

                <!-- Presentation block -->
                <div class="d-flex col-lg-4 align-items-stretch p-0">
                  <div class="d-flex flex-column justify-content-center align-items-center w-100 ui-bg-cover text-center text-white py-5" style="background-image: url('assets/img/uikit/presentation-jeans.jpg');">
                    <div class="text-big font-weight-bold mt-5 mb-2">
                      LIMITED TIME ONLY!
                    </div>
                    <div class="display-3 font-weight-bolder mb-2">
                      25% OFF
                    </div>
                    <div class="mb-5">
                      USE CODE: <span class="font-weight-bold">SPRING</span>
                    </div>
                    <a href="#" class="btn btn-outline-white btn-lg d-block text-expanded">
                      SHOP NOW <i class="ion ion-ios-arrow-forward"></i>
                    </a>
                  </div>
                </div>
                <!-- / Presentation block -->

              </div>
            </div>
          </li>
          <!-- / Women categories -->

          <!-- Men categories -->
          <li class="nav-item mega-dropdown" id="shop-men-dropdown">
            <a class="nav-link dropdown-toggle small text-expanded px-lg-3" href="#" data-toggle="mega-dropdown" data-trigger="hover">MEN</a>
            <div class="dropdown-menu p-0 mt-2">
              <div class="row no-gutters row-bordered">
                <div class="col-6 col-lg-3 p-4">
                  <h6 class="small font-weight-bold text-expanded">CLOTHING</h6>
                  <a href="#" class="mega-link d-block text-dark small mb-2">New In</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Coats & Jackets</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">T-Shirts & Vests</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Hoodies & Sweatshirts</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Jeans</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Shirts</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Jumpers & Cardigans</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Joggers & Tracksuits</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Big & Tall</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Trousers</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Suits</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Activewear</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Shorts & Swim Shorts</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Polo Shirts</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Onesies & Loungewear</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Style Steals</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Back In Stock</a>
                  <a href="#" class="mega-link d-block text-dark small mb-2">Multi Packs</a>
                </div>
                <div class="col-6 col-lg-3">
                  <div class="row no-gutters row-bordered">
                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">SHOES</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">View All</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Trainers</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Boots</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Smart Shoes</a>
                    </div>
                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">ACCESSORIES</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">View All</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Bags & Wallets</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Belts</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Gifts & Novelty</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Gloves, Hats & Scarves</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Jewellery</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Hats</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Underwear & Socks</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="row no-gutters row-bordered">

                    <!-- Special deals -->
                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">SPECIAL DEALS</h6>
                      <div class="w-100">
                        <div class="swiper-container" id="shop-men-special-deals">
                          <div class="swiper-wrapper">
                            <a href="#" class="swiper-slide d-block ui-bordered text-center text-dark p-4">
                              <div class="shop-special-deal-label badge badge-success font-weight-bold">15% OFF</div>
                              <img src="assets/img/uikit/nike-1.jpg" class="mb-2" alt="" style="max-width: 75%; max-height: 200px">
                              <div><strike class="text-light">$57.55</strike>&nbsp; <strong>$48.92</strong></div>
                            </a>
                            <a href="#" class="swiper-slide d-block ui-bordered text-center text-dark p-4">
                              <div class="shop-special-deal-label badge badge-success font-weight-bold">10% OFF</div>
                              <img src="assets/img/uikit/sunglasses.jpg" class="mb-2" alt="" style="max-width: 75%; max-height: 200px">
                              <div><strike class="text-light">$20.55</strike>&nbsp; <strong>$18.50</strong></div>
                            </a>
                            <a href="#" class="swiper-slide d-block ui-bordered text-center text-dark p-4">
                              <div class="shop-special-deal-label badge badge-success font-weight-bold">15% OFF</div>
                              <img src="assets/img/uikit/adidas.jpg" class="mb-2" alt="" style="max-width: 75%; max-height: 200px">
                              <div><strike class="text-light">$57.55</strike>&nbsp; <strong>$48.92</strong></div>
                            </a>
                            <a href="#" class="swiper-slide d-block ui-bordered text-center text-dark p-4">
                              <div class="shop-special-deal-label badge badge-success font-weight-bold">20% OFF</div>
                              <img src="assets/img/uikit/backpack.jpg" class="mb-2" alt="" style="max-width: 75%; max-height: 200px">
                              <div><strike class="text-light">$160.00</strike>&nbsp; <strong>$128.00</strong></div>
                            </a>
                          </div>
                          <div class="swiper-pagination"></div>
                        </div>
                      </div>
                    </div>
                    <!-- / Special deals -->

                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">POPULAR BRANDS</h6>
                      <a href="#"><img src="assets/img/uikit/logo-1.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-2.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-3.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-4.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-5.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-6.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-7.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-8.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-9.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                      <a href="#"><img src="assets/img/uikit/logo-10.png" class="hoverable ui-w-80 ui-img-grayscale" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- Men categories -->

          <!-- Electronics categories -->
          <li class="nav-item mega-dropdown">
            <a class="nav-link dropdown-toggle small text-expanded px-lg-3" href="#" data-toggle="mega-dropdown" data-trigger="hover">ELECTORNICS</a>
            <div class="dropdown-menu p-0 mt-2">
              <div class="row no-gutters row-bordered">

                <!-- Popular categories -->
                <div class="col-sm-6 col-lg-3 p-4">
                  <h6 class="small font-weight-bold text-expanded">POPULAR CATEGORIES</h6>
                  <a href="#" class="media align-items-center ui-bordered text-dark py-2 px-3 mb-2">
                    <img src="assets/img/uikit/ps4.jpg" alt="" class="d-block ui-w-40">
                    <span class="media-body small font-weight-semibold ml-2">GAMING</span>
                  </a>
                  <a href="#" class="media align-items-center ui-bordered text-dark py-2 px-3 mb-2">
                    <img src="assets/img/uikit/s7edge-1.jpg" alt="" class="d-block ui-w-40">
                    <span class="media-body small font-weight-semibold ml-2">MOBILE PHONES</span>
                  </a>
                  <a href="#" class="media align-items-center ui-bordered text-dark py-2 px-3 mb-2">
                    <img src="assets/img/uikit/iwatch.jpg" alt="" class="d-block ui-w-40">
                    <span class="media-body small font-weight-semibold ml-2">SMART WATCHES</span>
                  </a>
                  <a href="#" class="media align-items-center ui-bordered text-dark py-2 px-3 mb-2">
                    <img src="assets/img/uikit/headphones.jpg" alt="" class="d-block ui-w-40">
                    <span class="media-body small font-weight-semibold ml-2">HEADPHONES</span>
                  </a>
                </div>
                <!-- / Popular categories -->

                <div class="col-6 col-lg-3">
                  <div class="row no-gutters row-bordered">
                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">MOBILE PHONES</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Octa Core</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Deca Core</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Single SIM Card</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Dual SIM Card</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">4GB RAM</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">5.5-inch Display</a>
                    </div>
                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">MOBILE PHONES ACCESSORIES</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Mobile Phone Accessories</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Power Bank</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Screen Protectors</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Mobile Phone Cables</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Mobile Phone Chargers</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Holders & Stands</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Mobile Phone Lenses</a>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3">
                  <div class="row no-gutters row-bordered">
                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">LAPTOP & TABLETS</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Laptops</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Gaming Laptops</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Tablets</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">2 in 1 Tablets</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Phone Call Tablets</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">iPad</a>
                    </div>
                    <div class="col-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">LAPTOP & TABLETS ACCESSORIES</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Laptop Bags & Cases</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Laptop Batteries</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Tablet Accessories</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Tablet LCD Screens</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Tablet Cases</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="row no-gutters row-bordered">
                    <div class="col-6 col-sm-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">CAMERA & PHOTO</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Camera & Photo</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Digital Cameras</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Camcorders</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Camera Drones</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Action Cameras</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Photo Studio</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Camera & Photo Accessories</a>
                    </div>
                    <div class="col-6 col-sm-12 p-4">
                      <h6 class="small font-weight-bold text-expanded">NETWORKING</h6>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Wireless Routers</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Network Cards</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">3G Modems</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Modem-Router Combos</a>
                      <a href="#" class="mega-link d-block text-dark small mb-2">Networking Tools</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- / Electronics categories -->

          <li class="nav-item"><a class="nav-link small text-expanded px-lg-3" href="#">SALE</a></li>
          <li class="nav-item"><a class="nav-link small text-expanded px-lg-3" href="#">BLOG</a></li>
        </ul>
      </div>
      <!-- / Menu -->

      <div class="shop-header navbar-collapse collapse order-lg-1">
        <div class="navbar-nav align-items-lg-center order-lg-2 py-lg-1 ml-auto">
          <!-- Search -->
          <li class="nav-item">
            <label class="nav-link navbar-search-box">
              <i class="ion ion-ios-search navbar-icon align-middle"></i>
              <span class="navbar-search-input">
                <input type="text" class="form-control mx-2" placeholder="Search..." style="width:140px">
                <a href="#" class="navbar-search-cancel">×</a>
              </span>
            </label>
          </li>

          <li class="shop-cart-dropdown nav-item dropdown">
            <a class="nav-link dropdown-toggle hide-arrow text-nowrap ml-lg-2" href="#" data-toggle="dropdown">
              <i class="ion ion-md-basket navbar-icon align-middle"></i>
              <span class="badge badge-danger indicator">3</span>
              <span class="d-lg-none align-middle">&nbsp; Cart</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">

              <div class="media align-items-center p-3">
                <img src="assets/img/uikit/iwatch.jpg" class="d-block ui-w-40" alt="">
                <div class="media-body small mx-3">
                  <a href="#" class="text-dark font-weight-semibold">Apple iWatch (black)</a>
                  <div class="text-muted">$399.00 &times; 1</div>
                </div>
                <a href="#" class="text-danger text-xlarge font-weight-light">
                  &times;
                </a>
              </div>
              <hr class="m-0">

              <div class="media align-items-center p-3">
                <img src="assets/img/uikit/backpack.jpg" class="d-block ui-w-40" alt="">
                <div class="media-body small mx-3">
                  <a href="#" class="text-dark font-weight-semibold">HERO ATHLETES BAG</a>
                  <div class="text-muted">$160.00 &times; 1</div>
                </div>
                <a href="#" class="text-danger text-xlarge font-weight-light">
                  &times;
                </a>
              </div>
              <hr class="m-0">

              <div class="media align-items-center p-3">
                <img src="assets/img/uikit/sunglasses.jpg" class="d-block ui-w-40" alt="">
                <div class="media-body small mx-3">
                  <a href="#" class="text-dark font-weight-semibold">WALKING 400 BLUE CAT3</a>
                  <div class="text-muted">$20.55 &times; 2</div>
                </div>
                <a href="#" class="text-danger text-xlarge font-weight-light">
                  &times;
                </a>
              </div>
              <hr class="m-0">

              <div class="d-flex justify-content-between align-items-center p-3">
                <div>
                  <span class="text-muted">Total:</span>&nbsp;
                  <span class="font-weight-bold">$600.10</span>
                </div>
                <div>
                  <button type="button" class="btn btn-default btn-sm md-btn-flat text-expanded">CART</button>
                  <button type="button" class="btn btn-primary btn-sm md-btn-flat text-expanded ml-1">CHECKOUT</button>
                </div>
              </div>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hide-arrow ml-lg-2" href="#" data-toggle="dropdown">
              <img src="assets/img/avatars/1.png" alt class="ui-w-30 rounded-circle align-middle">
              <span class="d-lg-none align-middle">&nbsp; Mike Greene</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Order list</a>
              <a class="dropdown-item" href="#">Wishlist</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>

        </div>
      </div>
    </div>
  </nav>
  <!-- / Navbar -->