<!-- Pace.js loader -->
  <div class="page-loader"><div class="bg-primary"></div></div>

  <!-- Top block -->
  <div class="bg-lighter small py-2">
    <div class="container d-flex justify-content-between px-3">
      <div class="text-muted">
        <strong>7/24 YARDIM: </strong>(0850) 222-2222</div>
    </div>
  </div>
  <!-- / Top block -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-white px-0">
    <div class="container flex-lg-wrap px-3">
      <a href="#" class="navbar-brand text-large font-weight-bolder line-height-1 py-3"><img src="~/assets/img/logo.png" class="mb-2" style="max-width: 75%; max-height: 200px"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".shop-header">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="shop-header navbar-collapse collapse col-lg-12 flex-wrap order-lg-2 px-0">
        <hr class="d-none d-lg-block w-100 my-2">
        <ul class="navbar-nav">

          <!-- Electronics categories -->
          <li class="nav-item mega-dropdown">
            <a class="nav-link dropdown-toggle small text-expanded px-lg-3" href="#" data-toggle="mega-dropdown" data-trigger="hover">ELECTORNICS</a>
            <div class="dropdown-menu p-0 mt-2">
                <div class="row no-gutters row-bordered">

                    <div class="col-6 col-lg-3">
                        <div class="row no-gutters row-bordered">
                            <div class="col-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">MOBILE PHONES</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Octa Core</a>
                            </div>
                            <div class="col-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">MOBILE PHONES ACCESSORIES</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Mobile Phone Accessories</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="row no-gutters row-bordered">
                            <div class="col-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">LAPTOP & TABLETS</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Laptops</a>
                            </div>
                            <div class="col-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">LAPTOP & TABLETS ACCESSORIES</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Laptop Bags & Cases</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="row no-gutters row-bordered">
                            <div class="col-6 col-sm-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">CAMERA & PHOTO</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Camera & Photo</a>
                            </div>
                            <div class="col-6 col-sm-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">NETWORKING</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Wireless Routers</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-3">
                        <div class="row no-gutters row-bordered">
                            <div class="col-6 col-sm-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">CAMERA & PHOTO</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Camera & Photo</a>
                            </div>
                            <div class="col-6 col-sm-12 p-4">
                                <h6 class="small font-weight-bold text-expanded">NETWORKING</h6>
                                <a href="#" class="mega-link d-block text-dark small mb-2">Wireless Routers</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
          </li>
          <!-- / Electronics categories -->

          <li class="nav-item"><a class="nav-link small text-expanded px-lg-3" href="#">SALE</a></li>
          <li class="nav-item"><a class="nav-link small text-expanded px-lg-3" href="#">BLOG</a></li>
        </ul>
      </div>
      <!-- / Menu -->

      <div class="shop-header navbar-collapse collapse order-lg-1">
        <div class="navbar-nav align-items-lg-center order-lg-2 py-lg-1 ml-auto">

          <div class="nav-item">
            <label class="nav-link navbar-search-box">
              <i class="ion ion-ios-search navbar-icon align-middle"></i>
              <span class="navbar-search-input">
                <input type="text" class="form-control mx-2" placeholder="Ara..." style="width:140px">
                <a href="#" class="navbar-search-cancel">×</a>
              </span>
            </label>
          </div>

          <div class="nav-item shop-cart-dropdown dropdown">
            <a class="nav-link dropdown-toggle hide-arrow text-nowrap ml-lg-2" href="#" data-toggle="dropdown">
              <i class="ion ion-md-basket navbar-icon align-middle"></i>
              <span class="badge badge-danger indicator">3</span>
              <span class="d-lg-none align-middle">&nbsp; Cart</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

              <div class="media align-items-center p-3">
                <img src="assets/img/uikit/iwatch.jpg" class="d-block ui-w-40" alt="">
                <div class="media-body small mx-3">
                  <a href="#" class="text-dark font-weight-semibold">Apple iWatch (black)</a>
                  <div class="text-muted">$399.00 &times; 1</div>
                </div>
                <a href="#" class="text-danger text-xlarge font-weight-light">
                  &times;
                </a>
              </div>
              <hr class="m-0">

              <div class="media align-items-center p-3">
                <img src="assets/img/uikit/backpack.jpg" class="d-block ui-w-40" alt="">
                <div class="media-body small mx-3">
                  <a href="#" class="text-dark font-weight-semibold">HERO ATHLETES BAG</a>
                  <div class="text-muted">$160.00 &times; 1</div>
                </div>
                <a href="#" class="text-danger text-xlarge font-weight-light">
                  &times;
                </a>
              </div>
              <hr class="m-0">

              <div class="media align-items-center p-3">
                <img src="assets/img/uikit/sunglasses.jpg" class="d-block ui-w-40" alt="">
                <div class="media-body small mx-3">
                  <a href="#" class="text-dark font-weight-semibold">WALKING 400 BLUE CAT3</a>
                  <div class="text-muted">$20.55 &times; 2</div>
                </div>
                <a href="#" class="text-danger text-xlarge font-weight-light">
                  &times;
                </a>
              </div>
              <hr class="m-0">

              <div class="d-flex justify-content-between align-items-center p-3">
                <div>
                  <span class="text-muted">Toplam:</span>&nbsp;
                  <span class="font-weight-bold">₺600.10</span>
                </div>
                <div>
                  <button type="button" class="btn btn-default btn-sm md-btn-flat text-expanded">SEPET</button>
                  <button type="button" class="btn btn-primary btn-sm md-btn-flat text-expanded ml-1">SATIN AL</button>
                </div>
              </div>

            </div>
          </div>

          @await Component.InvokeAsync("UserNav")

        </div>
      </div>
    </div>
  </nav>
  <!-- / Navbar -->