@model List<Entities.Concrete.Favorite>
@{
    ViewData["Title"] = "Favorilerim";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="layout-content">
    <div class="container-fluid flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4"> Favorilerim <span class="text-muted">@User.Identity.Name</span></h4>

        <div class="nav-tabs-top">
            <div class="tab-content">
                <div class="tab-pane active show" id="user-favorites">
                    <div class="card-body pb-2">
                        <ul class="list-group list-group-flush">

                            @foreach (var favorite in Model)
                            {
                                <li class="list-group-item py-3" id="@favorite.Id">
                                    <label class="btn btn-outline-primary btn-sm float-right removeFav">Sil</label>
                                    <div class="font-weight-semibold">@favorite.ProductName</div>
                                    <small class="text-muted">@favorite.CreatedDate</small>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    $('.removeFav').on('click', function () {
        var productId = $(this).parent("li").attr("id");

        $.ajax({
            url: '/Account/DeleteFavorites',
            type: 'POST',
            data: { id: productId }
        }).done(function () { $('#' + productId).remove(); });

    });

</script>