@{
    ViewData["Title"] = "Siparişlerim";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4"> Siparişlerim <span class="text-muted">@User.Identity.Name</span></h4>

        <div class="nav-tabs-top">
            <div class="tab-content">
                <div class="tab-pane active show" id="user-orders">
                    <div class="card-body pb-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item py-3">
                                <span class="badge badge-outline-success float-right">Kargoya verildi</span>
                                <div class="font-weight-semibold">System Boot</div>
                                <small class="text-muted">02/05/2018 11:32:45</small>
                            </li>
                            <li class="list-group-item py-3">
                                <span class="badge badge-outline-warning float-right">İşleniyor</span>
                                <div class="font-weight-semibold">System Restart</div>
                                <small class="text-muted">02/05/2018 11:32:15</small>
                            </li>
                            <li class="list-group-item py-3">
                                <span class="badge badge-outline-danger float-right">Ödeme başarısız</span>
                                <div class="font-weight-semibold">System Restart</div>
                                <small class="text-muted">02/05/2018 11:32:02</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>