@{
    ViewData["Title"] = "Şifre Sıfırlandı.";
    Layout = "../Shared/Layouts/_AuthLayout.cshtml";
}

<div class="layout-container">
    <!-- Layout content -->
    <!-- Content -->

    <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url('/assets/img/bg/1.jpg');">
        <div class="ui-bg-overlay bg-dark opacity-25"></div>

        <div class="authentication-inner py-5">

            <div class="card">
                <div class="p-4 p-sm-5">

                    <div class="display-1 lnr lnr-checkmark-circle text-center text-success mb-4"></div>

                    <p class="text-center text-big mb-4">Şifre doğrulama e-postası gönderildi. Lütfen gelen kutunuzu kontrol edin.</p>

                    <a href="/Account/Login"><button type="button" class="btn btn-primary btn-block">Giriş yapmak için tıklayın</button></a>

                </div>
            </div>

        </div>
    </div>

    <!-- / Content -->
    <!-- Layout content -->
</div>
