@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero slider -->
<div class="swiper-container" id="shop-hero-slider">
    <div class="swiper-wrapper">
        <!-- Animate first slide on page load -->
        <div class="swiper-slide shop-hero-slider-animating ui-bg-cover" style="background-image: url(assets/img/bg/16.jpg)">
            <div class="container px-3">
                <div class="shop-hero-container">
                    <div class="flex-shrink-1 text-center py-5">
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-1 display-1 font-weight-semibold mb-2">SAVE 50%</div>
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-2 display-4">FOR FIRST PURCHASE</div>
                        <button type="button" class="shop-hero-slider-animated shop-hero-slider-delay-3 btn btn-primary btn-lg text-expanded mt-5">SHOP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next custom-icon">
        <i class="lnr lnr-chevron-right text-dark"></i>
    </div>
    <div class="swiper-button-prev custom-icon">
        <i class="lnr lnr-chevron-left text-dark"></i>
    </div>
</div>
<!-- Hero slider -->
<!-- Featured products -->
<hr class="mt-5 mb-0">
<div class="container px-3">
    <h6 class="text-center text-muted font-weight-normal text-expanded my-5">FEATURED PRODUCTS</h6>

    <div class="row row-bordered no-gutters ui-bordered">
        <div class="col-sm-6 col-lg-3 text-center p-4">
            <a href="#" class="d-block">
                <img src="assets/img/uikit/iwatch.jpg" class="mb-2" alt style="max-width: 75%; max-height: 200px">
            </a>
            <h6>
                <a href="#" class="text-dark">Apple iWatch (black)</a>
            </h6>
            <div class="text-muted small mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <strong>$399.00</strong>
            <div class="mt-4 mb-3">
                <button type="button" class="btn btn-outline-primary text-expanded">BUY NOW</button> &nbsp;
            </div>
        </div>
    </div>
</div>
<!-- / Featured products -->
<!-- Presentation block -->
<div class="ui-bg-cover ui-bg-overlay-container py-5 mt-5" style="background-image: url('assets/img/bg/29.png');">
    <div class="ui-bg-overlay bg-dark opacity-50"></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            <div class="text-white text-large font-weight-light text-expanded px-2">&mdash; YENİ GELENLER &mdash;</div>
        </div>
        <div class="display-3 text-white font-weight-bolder mt-2">%30 İNDİRİM</div>
        <button type="button" class="btn btn-outline-white btn-lg text-expanded mt-4">FIRSATLARI KEŞFET</button>
    </div>
</div>
<!-- / Presentation block -->
<!-- Product list -->
<div class="container px-3">
    <ul class="nav nav-tabs tabs-alt container justify-content-center border-0 px-3 my-5">
        <a class="nav-item nav-link font-weight-normal text-expanded active" href="#">EN İYİ SATICILAR</a>
    </ul>

    <div class="row row-bordered no-gutters">
        <div class="col-sm-6 col-lg-3 text-center p-4">
            <a href="#" class="d-block">
                <img src="assets/img/uikit/iwatch.jpg" class="mb-2" alt style="max-width: 75%; max-height: 200px">
            </a>
            <h6>
                <a href="#" class="text-dark">Apple iWatch (black)</a>
            </h6>
            <div class="text-muted small mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <strong>$399.00</strong>
            <div class="mt-4 mb-3">
                <button type="button" class="btn btn-outline-primary text-expanded">SATIN AL</button> &nbsp;
            </div>
        </div>
    </div>
</div>
<!-- / Product list -->
<!-- Subscribe -->
<div class="bg-lighter py-5 mt-5">
    <div class="container px-3">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="display-4 font-weight-semibold mb-3">İndirim Bilgilerini Alın</div>
                <div class="lead text-muted mb-4">Yeni gelenler, özel teklifler ve diğer indirim bilgileriyle ilgili güncellemeleri almak için mail listemize abone olun.</div>
                <div class="media flex-wrap justify-content-center">
                    <input type="text" class="form-control form-control-lg media-body" placeholder="Email adresinizi giriniz">
                    <div class="d-sm-none d-block w-100 pt-3"></div>
                    <button type="button" class="btn btn-primary btn-lg d-block text-expanded ml-sm-2">ABONE OL</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Subscribe -->
