@{

    ViewData["Title"] = "Index";
    Layout = "../Shared/Layouts/_AdminLayout.cshtml";
}

<!-- Layout container -->
<div class="layout-container">
    <!-- Layout content -->
    <div class="layout-content">

        <!-- Content -->
        <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
                <div>Kategoriler</div>

                <a href="/Admin/AddCategory"><button type="button" class="btn btn-primary btn-round d-block"><span class="ion ion-md-add"></span>&nbsp; Kategori Ekle</button></a>
            </h4>

            <!-- Filters -->
            <div class="ui-bordered px-4 pt-4 mb-4">
                <div class="form-row">
                    <div class="col-md mb-4">
                        <label class="form-label">Ana Kategoriler</label>
                        <select class="custom-select" id="selectCat">
                            <option value="0">Hepsi</option>
                            <option value="1">Kadın</option>
                            <option value="2">Erkek</option>
                            <option value="3">Çocuk</option>
                        </select>

                    </div>

                    <script type="text/javascript">
                        $('#btnClick').on('Click', function()
                        {
                            var e = document.getElementById("ddlViewBy");
                            var strUser = e.options[e.selectedIndex].value;

                            return strUser;
                        });
                    </script>

                    <div class="col-md col-xl-2 mb-4">
                        <label class="form-label d-none d-md-block">&nbsp;</label>
                        <a href="@Url.Action("ListCategory", "Admin", new { categoryTypeId = Model })"><button type="button" class="btn btn-secondary btn-block">Listele</button></a>
                    </div>
                </div>
            </div>
            <!-- / Filters -->

            <div class="card">
                <div class="card-datatable table-responsive">
                    <table id="product-list" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>Kategori Adı</th>
                                <th>Toplam Ürün</th>
                            </tr>
                        </thead>

    
                    </table>
                </div>
            </div>

        </div>
        <!-- / Content -->
    </div>
    <!-- Layout content -->

</div>
<!-- / Layout container -->

<script>
    $("document").ready(function () {
        $('#selectCat').val('@Model.ItemId');
});
</script>