@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager

@if (User.Identity.IsAuthenticated)
{
    <div class="nav-item dropdown" style="margin-left: 1rem;">
        <button type="button" class="btn btn-default nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <span class="px-1 mr-lg-1 ml-2 ml-lg-0">@userManager.GetUserAsync(User).Result.Name</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="/Account/Manage" class="dropdown-item"><i class="ion ion-md-person text-secondary"></i> &nbsp; Hesabım</a>
            <a href="/Account/MyFavorites" class="dropdown-item"><i class="ion ion-md-star text-secondary"></i> &nbsp; Favorilerim</a>
            <div class="dropdown-divider"></div>
            <a href="/Account/Logout" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Çıkış</a>
        </div>
    </div>
}
else
{
    <div class="nav-item nav-margin dropdown" style="margin-left: 1rem;">
        <button type="button" class="btn btn-default nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <span class="px-1 mr-lg-1 ml-2 ml-lg-0">Hesabım</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="/Account/Login" class="dropdown-item"><i class="ion ion-ios-log-in text-secondary"></i> &nbsp; Giriş Yap</a>
            <a href="/Account/Register" class="dropdown-item"><i class="ion ion-md-person-add text-secondary"></i> &nbsp; Üye Ol</a>
        </div>
    </div>
}